<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

  </head>
<body>
<div id="captains-list" ng-controller="CaptainCtrl">
<h1>Vote for your favorite Sci-Fi Captain</h1>
  Search <input type=text ng-model="query">
  <ul id="captains-list">
    <li ng-repeat="captain in captains| filter:query">
      <h3>{{captain.name}}</h3>
      <img src="{{captain.image}}" width="100">
      <p>{{captain.source}}</p>
      <button ng-click="inc($index)" class="voteButton">{{captain.votes}}</button>
    </li>
  </ul>
</div>
</body>
</html>

